#### Nama = Sindy Mei Marantika
#### Jalur Pembelajaran = Data Analyst dan AI

##### Tugas 1

In [8]:
# membuat list event MariBelajar
event_maribelajar = [
    "Webinar Yuk Pelajari Excel untuk Data Analyst",
    "Global Azure AI Bootcamp 2024",
    "MariBelajar Beasiswa Workshop Siswa",
    "Reimagine Education Indonesia with Microsoft Technologies",
    "MCT Summit Indonesia 2024"
]
print("event di maribelajar \n", event_maribelajar)

event di maribelajar
 ['Webinar Yuk Pelajari Excel untuk Data Analyst', 'Global Azure AI Bootcamp 2024', 'MariBelajar Beasiswa Workshop Siswa', 'Reimagine Education Indonesia with Microsoft Technologies', 'MCT Summit Indonesia 2024']

In [15]:
harga = {
    "Webinar Yuk Pelajari Excel untuk Data Analyst" : 15,
    "Global Azure AI Bootcamp 2024" : 27,
    "MariBelajar Beasiswa Workshop Siswa" : 13,
    "Reimagine Education Indonesia with Microsoft Technologies" : 17,
    "MCT Summit Indonesia 2024" : 35
}

harga_event_mari_belajar = []

# Mengalikan setiap harga dengan 10.000 dan menyimpannya dalam list harga_event_mari_belajar
for judul, harga_per_event in harga.items():
    harga_event_mari_belajar.append(harga_per_event * 10000)

print("harga event MariBelajar \n", harga_event_mari_belajar)

harga event MariBelajar
 [150000, 270000, 130000, 170000, 350000]

In [16]:
# mengurutkan event MariBelajar bersadarkan abjad
event_maribelajar_sorted = sorted(event_maribelajar)
print("event maribelajar berdasarkan urutan abjad \n",event_maribelajar_sorted )

event maribelajar berdasarkan urutan abjad
 ['Global Azure AI Bootcamp 2024', 'MCT Summit Indonesia 2024', 'MariBelajar Beasiswa Workshop Siswa', 'Reimagine Education Indonesia with Microsoft Technologies', 'Webinar Yuk Pelajari Excel untuk Data Analyst']

In [17]:
# mengambil 3 event pertama dari event maribelajar yang sudah diurutkan
event_maribelajar_sorted[:3]

['Global Azure AI Bootcamp 2024',
 'MCT Summit Indonesia 2024',
 'MariBelajar Beasiswa Workshop Siswa']

In [19]:
# mengambil 3 event terakhir dari event maribelajar yang sudah diurutkan
event_maribelajar_sorted[-3:]

['MariBelajar Beasiswa Workshop Siswa',
 'Reimagine Education Indonesia with Microsoft Technologies',
 'Webinar Yuk Pelajari Excel untuk Data Analyst']

In [20]:
# hitung harga terendah, tertinggi, rata2 harga dan total pendapatan dari harga event MariBelajar

harga_terendah = min(harga_event_mari_belajar)

harga_tertinggi = max(harga_event_mari_belajar)

rata_rata_harga = sum(harga_event_mari_belajar) / len(harga_event_mari_belajar)

total_pendapatan = sum(harga_event_mari_belajar)

# Cetak hasil
print("Harga terendah dari event MariBelajar:", harga_terendah)
print("Harga tertinggi dari event MariBelajar:", harga_tertinggi)
print("Rata-rata harga dari event MariBelajar:", rata_rata_harga)
print("Total pendapatan dari event MariBelajar:", total_pendapatan)

Harga terendah dari event MariBelajar: 130000
Harga tertinggi dari event MariBelajar: 350000
Rata-rata harga dari event MariBelajar: 214000.0
Total pendapatan dari event MariBelajar: 1070000

#### Nama = Sindy Mei Marantika
#### Jalur Pembelajaran = Data Analyst dan AI

##### Tugas 2

In [20]:
# Buat array dari 40 bilangan genap pertama (dimulai dari 2)
array_genap = [2 * i for i in range(1, 41)]
print("Array dari 40 bilangan genap pertama\n", array_genap)

Array dari 40 bilangan genap pertama
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [21]:
# Kalikan array dengan 10
array_kali_10 = [x * 10 for x in array_genap]
print("Array yang telah dikalikan dengan 10\n", array_kali_10)

Array yang telah dikalikan dengan 10
 [20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400, 420, 440, 460, 480, 500, 520, 540, 560, 580, 600, 620, 640, 660, 680, 700, 720, 740, 760, 780, 800]

In [22]:
# Bagikan array yang telah dikalikan dengan 4
array_bagi_4 = [x / 4 for x in array_kali_10]
print("Array yang telah dibagi dengan 4\n", array_bagi_4)

Array yang telah dibagi dengan 4
 [5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0, 100.0, 105.0, 110.0, 115.0, 120.0, 125.0, 130.0, 135.0, 140.0, 145.0, 150.0, 155.0, 160.0, 165.0, 170.0, 175.0, 180.0, 185.0, 190.0, 195.0, 200.0]

In [23]:
# Buat array baru
array_baru = [-39, -37, -35, -33, -31, -29, -27, -25, -23, -21,
              -19, -17, -15, -13, -11, -9, -7, -5, -3, -1,
               1, 3, 5, 7, 9, 11, 13, 15, 17, 19,
               21, 23, 25, 27, 29, 31, 33, 35, 37, 39]
print("Array baru\n", array_baru)

Array baru
 [-39, -37, -35, -33, -31, -29, -27, -25, -23, -21, -19, -17, -15, -13, -11, -9, -7, -5, -3, -1, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [25]:
# Kalikan hasil bagi array dengan array baru
Array_final = [array_bagi_4[i] * array_baru[i] for i in range(len(array_bagi_4))]
print("Array dari hasil mengalikan array bagi dengan array baru\n", Array_final)

Array dari hasil mengalikan array bagi dengan array baru
 [-195.0, -370.0, -525.0, -660.0, -775.0, -870.0, -945.0, -1000.0, -1035.0, -1050.0, -1045.0, -1020.0, -975.0, -910.0, -825.0, -720.0, -595.0, -450.0, -285.0, -100.0, 105.0, 330.0, 575.0, 840.0, 1125.0, 1430.0, 1755.0, 2100.0, 2465.0, 2850.0, 3255.0, 3680.0, 4125.0, 4590.0, 5075.0, 5580.0, 6105.0, 6650.0, 7215.0, 7800.0]

In [26]:
# Temukan nilai tertinggi dan terendah beserta indeksnya dari array terakhir
nilai_tertinggi = max(Array_final)
nilai_terendah = min(Array_final)
index_tertinggi = hasil.index(nilai_tertinggi)
index_terendah = hasil.index(nilai_terendah)

print("indeks tertinggi dari Array final = ", index_tertinggi)
print("indeks terendah dari Array final = ", index_terendah)

indeks tertinggi dari Array final =  39
indeks terendah dari Array final =  9