## Room 5
##### 1. 
##### 2.
##### 3.
##### 4.
##### 5.

In [1]:
pip install scipy

Requirement already satisfied: scipy in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the 'c:\Users\ASUS\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [25]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import ttest_ind

#### Read Data

In [11]:
df = pd.read_csv('ab_data.csv')
df

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [5]:
df.shape

(294478, 5)

In [6]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [13]:
df['group'].value_counts()

group
treatment    147276
control      147202
Name: count, dtype: int64

In [14]:
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

#### Langkah 1

Apakah ada perbedaan perlakuan antara group kontrol dan group treatment?

- H0 : Tidak da perbedaan perlakuan antara group kontrol dan group treatment
- H1 : Ada perbedaan perlakuan antara group kontrol dan group treatment

In [20]:
control_group = df[df['group'] == 'control']['converted']
treatment_group = df[df['group'] == 'treatment']['converted']

In [21]:
control_group.head()

0    0
1    0
4    1
5    0
7    0
Name: converted, dtype: int64

In [22]:
treatment_group.head()

2    0
3    0
6    1
8    1
9    1
Name: converted, dtype: int64

In [16]:
conversion_counts = df.groupby('group')['converted'].sum()
total_counts = df.groupby('group')['converted'].count()

In [17]:
conversion_counts.head()

group
control      17723
treatment    17514
Name: converted, dtype: int64

In [18]:
total_counts.head()

group
control      147202
treatment    147276
Name: converted, dtype: int64

#### Langkah 2

In [19]:
# Membuat tabel kontingensi
contingency_table = pd.DataFrame({
    'converted': conversion_counts,
    'not_converted': total_counts - conversion_counts
})

#### Langkah 3

In [32]:
t_stat, p_value = ttest_ind(control_group, treatment_group)
print('P-Value :',p_value)

P-Value : 0.21611748562490837

#### Langkah 4

In [35]:
# Menentukan apakah kita menolak H0 atau tidak
alpha = 0.05  # Tingkat signifikansi
if p_value < alpha:
    print("Tolak H0: Ada perbedaan perlakuan antara group kontrol dan group treatment")
else:
    print("Terima H0: Tidak ada perbedaan perlakuan antara group kontrol dan group treatment")

Terima H0: Tidak ada perbedaan perlakuan antara group kontrol dan group treatment